In [3]:
import pandas as pd
directions = pd.read_csv('C:/Users/clare/Documents/Advent-of-code-2021/Day2/input.txt', sep="\n", header=None)

Part 1:

In [4]:
directions

             0
0    forward 1
1       down 9
2       down 4
3    forward 4
4       down 2
..         ...
995  forward 3
996       up 8
997  forward 7
998  forward 5
999  forward 5

[1000 rows x 1 columns]

In [5]:
#Split directions into two columns 
directions['direction'], directions['distance'] = directions[0].str.split(' ', 1).str

C:\Users\clare\AppData\Local\Temp/ipykernel_828/992982105.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  directions['direction'], directions['distance'] = directions[0].str.split(' ', 1).str

In [6]:
directions['distance'] = directions['distance'].astype(int)

In [7]:
directions

             0 direction  distance
0    forward 1   forward         1
1       down 9      down         9
2       down 4      down         4
3    forward 4   forward         4
4       down 2      down         2
..         ...       ...       ...
995  forward 3   forward         3
996       up 8        up         8
997  forward 7   forward         7
998  forward 5   forward         5
999  forward 5   forward         5

[1000 rows x 3 columns]

In [8]:
directions.describe()

          distance
count  1000.000000
mean      5.033000
std       2.587007
min       1.000000
25%       3.000000
50%       5.000000
75%       7.000000
max       9.000000

In [9]:
summary = directions[["direction", "distance"]].groupby("direction").sum()

In [10]:
summary

           distance
direction
down           1875
forward        2033
up             1125

In [11]:
summary['distance'][1] * (summary['distance'][0] - summary['distance'][2])

1524750

Part 2:

In [27]:
aim = 0
forward = 0
down = 0 
up = 0
depth = 0

length = len(directions)

for i in range(length):
    direction = directions['direction'][i]
    magnitude = directions['distance'][i]
    if direction == 'down':
        aim = aim + magnitude
    elif direction == 'up':
        aim = aim - magnitude
    else:
        forward = forward + magnitude
        depth = depth + aim*magnitude

In [28]:
depth * forward

1592426537